#content{
    display: grid;
    grid-template-columns: auto 80% auto;
    grid-template-areas: ". content ." ;
    padding: 10px 0;
    background-image: url("../img/content/content.jpg");


    @include md{
        padding: 100px 0;
        grid-template-columns: auto 80% auto;
    }

    @include lg{
        padding: 128px 0;
        grid-template-columns: auto 1440px auto;
    }

    >div{
        
        grid-area: content;

        @include lg{
            padding: 0 30%;
        }
        h1{
            font-size: rem-calc(35);
            margin-bottom: 10px;
        }

        p{
            font-size: rem-calc(30);
            line-height: rem-calc(50);
            text-align: center;
            color: $white;
            background-color: $blue-macaw;
            padding: 50px;
            filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.1));
        }
    }
}