#logo{
    display: grid;
    grid-template-columns: auto 90vw auto;
    grid-template-areas: ". logo .";
    height: 100vh;
    width: 100%;

    @include md{
        grid-template-columns: auto 70vw auto;
    }

    @include lg{
        grid-template-columns: auto 60vw auto;
    }

    @include xl{
        grid-template-columns: auto 50vw auto;
    }
    >div{
        grid-area: logo;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
 
        svg{

        }
    }
}