#logo{
    display: grid;
    grid-template-columns: auto 100vw auto;
    grid-template-areas: ". logo .";
    height: 100vh;
    width: 100%;
    

    @include md{
        grid-template-columns: auto 70vw auto;
    }

    @include lg{
        grid-template-columns: auto 60vw auto;
    }

    @include xl{
        grid-template-columns: auto 50vw auto;
    }
    >div{
        grid-area: logo;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90%;
        padding-bottom: 50px;
        svg{

        }

.liveballs_class{
    visibility: hidden;
    padding-bottom: 50px;
    justify-self: center;
}
    }
}

.letters{
    visibility: 100;
    padding-bottom: 50px;
    z-index: 5000;
};
