#preloader{
    display: grid;
    grid-template-columns: auto 90vw auto;
    grid-template-areas: ". preloader .";
    position: absolute;
    height: 50vh;
    width: 100%;
    z-index: 5000;
    background-color: $white;

    #Group1A{
        visibility: hidden;
    }

    #Group2A{
        visibility: hidden;
    }

    #Group3A{
        visibility: hidden;
    }

    #Group4A{
        visibility: hidden;
    }

    #Group5A{
        visibility: hidden;
    }

    #Group6A{
        visibility: hidden;
    }

    #Group7A{
        visibility: hidden;
    }

    #Group8A{
        visibility: hidden;
    }

    #Group9A{
        visibility: hidden;
    }

    #Group10A{
        visibility: hidden;
    }

    #Group11A{
        visibility: hidden;
    }

    #Group12A{
        visibility: hidden;
    }

    #Group13A{
        visibility: hidden;
    }

    #Group14A{
        visibility: hidden;
    }

    #Group15A{
        visibility: hidden;
    }

    #Group16A{
        visibility: hidden;
    }
    
    @include md{
        grid-template-columns: auto 80vw auto;
    }

    @include lg{
        grid-template-columns: auto 70vw auto;
    }

    @include xl{
        grid-template-columns: auto 50vw auto;
    }

    >div{

        grid-area: preloader;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg{
            width: 75%

        }
    }
}