#preloader{
    display: grid;
    grid-template-columns: auto 90vw auto;
    grid-template-areas: ". preloader .";
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 5000;
    background-color: $white;

    #Group1A{
        visibility: hidden;
    }

    #Group2A{
        visibility: hidden;
    }

    #Group3A{
        visibility: hidden;
    }

    #Group4A{
        visibility: hidden;
    }

    #Group5A{
        visibility: hidden;
    }

    #Group6A{
        visibility: hidden;
    }

    #Group7A{
        visibility: hidden;
    }

    #Group8A{
        visibility: hidden;
    }

    #Group9A{
        visibility: hidden;
    }

    #Group10A{
        visibility: hidden;
    }

    #Group11A{
        visibility: hidden;
    }

    #Group12A{
        visibility: hidden;
    }

    #Group13A{
        visibility: hidden;
    }

    #Group14A{
        visibility: hidden;
    }

    #Group15A{
        visibility: hidden;
    }

    #Group16A{
        visibility: hidden;
    }

    #Group17A{
        visibility: hidden;
    }

    #Group18A{
        visibility: hidden;
    }

    #Group19A{
        visibility: hidden;
    }

    #Group20A{
        visibility: hidden;
    }

    #Group21A{
        visibility: hidden;
    }

    #Group22A{
        visibility: hidden;
    }

    #Group23A{
        visibility: hidden;
    }

    #Group24A{
        visibility: hidden;
    }

    #Group25A{
        visibility: hidden;
    }

    #Group26A{
        visibility: hidden;
    }

    #Group27A{
        visibility: hidden;
    }

    #Group28A{
        visibility: hidden;
    }

    #Group29A{
        visibility: hidden;
    }

    #Group30A{
        visibility: hidden;
    }

    #Group31A{
        visibility: hidden;
    }

    #Group32A{
        visibility: hidden;
    }

    #Group33A{
        visibility: hidden;
    }

    #Group34A{
        visibility: hidden;
    }

    #Group35A{
        visibility: hidden;
    }

    #Group36A{
        visibility: hidden;
    }

    #Group37A{
        visibility: hidden;
    }

    #Group38A{
        visibility: hidden;
    }

    #Group39A{
        visibility: hidden;
    }

    #Group40A{
        visibility: hidden;
    }

    #Group41A{
        visibility: hidden;
    }

    #Group42A{
        visibility: hidden;
    }

    #Group43A{
        visibility: hidden;
    }

    #Group44A{
        visibility: hidden;
    }
    
    #Group45A{
        visibility: hidden;
    }

    #Group46A{
        visibility: hidden;
    }

    #Group47A{
        visibility: hidden;
    }

    #Group48A{
        visibility: hidden;
    }

    #Group49A{
        visibility: hidden;
    }

    #Group50A{
        visibility: hidden;
    }

    #Group51A{
        visibility: hidden;
    }

    #Group52A{
        visibility: hidden;
    }

    #Group53A{
        visibility: hidden;
    }

    #Group54A{
        visibility: hidden;
    }

    #Group55A{
        visibility: hidden;
    }

    #Group56A{
        visibility: hidden;
    }

    #Group57A{
        visibility: hidden;
    }

    #Group58A{
        visibility: hidden;
    }

    #Group59A{
        visibility: hidden;
    }

    #Group60A{
        visibility: hidden;
    }

    #Group61A{
        visibility: hidden;
    }

    #Group62A{
        visibility: hidden;
    }

    #Group63A{
        visibility: hidden;
    }

    #Group64A{
        visibility: hidden;
    }

    #Group65A{
        visibility: hidden;
    }

    #Group66A{
        visibility: hidden;
    }

    #Group67A{
        visibility: hidden;
    }

    #Group68A{
        visibility: hidden;
    }

    #Group69A{
        visibility: hidden;
    }

    #Group70A{
        visibility: hidden;
    }

    #Group71A{
        visibility: hidden;
    }

    #Group72A{
        visibility: hidden;
    }

    #Group73A{
        visibility: hidden;
    }

    #Group74A{
        visibility: hidden;
    }

    #Group75A{
        visibility: hidden;
    }

    #Group76A{
        visibility: hidden;
    }

    #Group77A{
        visibility: hidden;
    }

    #Group78A{
        visibility: hidden;
    }

    #Group79A{
        visibility: hidden;
    }

    #Group80A{
        visibility: hidden;
    }

    #Group81A{
        visibility: hidden;
    }

    #Group82A{
        visibility: hidden;
    }

    #Group83A{
        visibility: hidden;
    }

    
    @include md{
        grid-template-columns: auto 80vw auto;
    }

    @include lg{
        grid-template-columns: auto 70vw auto;
    }

    @include xl{
        grid-template-columns: auto 50vw auto;
    }

    >div{

        grid-area: preloader;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg{
            width: 75%

        }
    }
}