/* =============
    Navigation
============= */
nav{
    height: 100%;

    ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;

        li{
            margin-left: 4vw;

            a:link, a:visited{
                font-family: 'Roboto Slab', serif;
                font-size: rem-calc(18);
                color: $blue;
                font-weight: 300;
                transition: 0.25s;

                &:hover, &:active{
                    color: $purple;
                }

            }
        }
    }
}